<style>

    h1 {color: red}
    img {width: 400px;}
    #thirdDiv {
        height: 650px;
        width: 500px;
        background-color: green;
        padding: 50px;
        border: 10px solid blue;
    }

    #spanId {
        margin: 50px;
        font-size: 18px;}    

</style>
